/* your styles will go here!! */


body {
    margin: 0;
}

nav {
    background: rgba(255, 255, 255, 0.78);
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

nav a { 
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: "brother-1816", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 65px;
}

nav a::after {
    content: '';
    width: 0;
    height: .5px;
    display: block;
    background: black;
    transition: .5s;
  }
  
nav a:hover::after {
    width: 100%;
  }

a:link{
    text-decoration: none;
  }

.HEADER a {
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: white;
    color: #000;
    font-family: "brother-1816", sans-serif;
    font-weight: 10;
    text-align: center;
    font-size: 33px;
    letter-spacing: 15px;
    margin: 0px;
    padding: 10px 38.65%;
    position: fixed;
    white-space: nowrap;
    transition: all 1s ease;
}

h1:hover{
    letter-spacing: 40px;
}

h3 {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: "brother-1816", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;

}

.scroll-container{
    overflow: auto;
    white-space: nowrap;
}

.scroll-container img {
    width: 100%;
    height: auto;
}

.city-names {
    text-decoration: none;
    z-index: 1;
    color: #ffffff;
    text-align: left;
    font-family: "brother-1816", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3px;
    width: auto;
}

/* .blurred-bg {
    position: absolute;
    z-index: -1;
    overflow: auto;
    white-space: nowrap;
}

.blurred-bg img {
    width: 100%;
    height: auto;
    filter: blur(10px);
    opacity: 85%;
} */

.city-names ul {
    list-style: none;
}

.city-names li {
    padding-left: 60px;
    padding-top: 25px;
}

.ny-hover:hover {
    background-image: url('triston-dunn-rfj_wOYQkus-unsplash.jpg');
}

.chi-hover:hover {
    background-image: url('aveedibya-dey-wRyQocoKOBA-unsplash.jpg');
}

.la-hover:hover {
    background-image: url('cedric-letsch-UZVlSjrIJ3o-unsplash.jpg');
}

.background-image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 75%);
    z-index: 1;
    pointer-events: none; 
}